.links body {
  overflow-x: auto !important;
  overflow-wrap: inherit !important;
}
@media (max-width: 991.98px) {
.table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto !important;
    
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
}
.page-wrapper__content {
  min-height: 1024px;
}
.even {
  background-color: #EEEEEE;
}
tr td:first-child {
  padding-left: 1em;
}
input {
  border: 1px solid #eeeeee;
}