html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    margin: 0;
    background-color: #fafafa;
}
.container {
    position: relative;
    display: block;
    padding: 60px 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.row {
    width: 100%;
    display: flex;
}
.col {
    width:100%;
}
.line {
    display: none;
}
.main-text {
    padding-top: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.4em;
}
.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}
.mailto {
    margin-top: 27px;
}
.mailto a{
    color: #0D5BDC;
    text-decoration: none;
    font-weight: 600;
}
.mailto a:hover {
    color: #999;
}
.logo svg {
    width: 70px;
}
.diagram {
        display: none;
}
.diagram-mobile {
    display:block;
    position: fixed;
    right: 96px;
    bottom:24px;
}
.diagram-mobile svg {
        position: fixed;
        bottom: 82px;
    }
    .diagram-mobile .inner {
        right: -48px;
        margin-bottom: -48px;
    }
    .diagram-mobile .morph {
        right: -82px;
        margin-bottom: -82px;
    }
    .diagram-mobile .circle {
        right: -79px;
        margin-bottom: -79px;
    }
    .diagram-mobile .outer {
        right: -120px;
        margin-bottom: -120px;
}

/* Larger than mobile */
@media (min-width: 400px) {
    .container {
        position: relative;
        display: block;
        padding: 60px 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
    .logo {
        margin-left: 50%;
    }
    .logo svg {
        width: initial;
    }
    .container {
        position: relative;
        display: block;
        padding: 60px 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    
    .main-text {
        margin-left: 50%;
        padding-top: 240px;
        font-size: 24px;                
    }
    .diagram {
        display: block;
        position: fixed;
        height: 100%;
        -webkit-animation: spin 5s linear infinite;
        animation: spin 5s linear infinite;
        -moz-animation:spin 5s linear infinite;
    }
    .diagram svg {
        position: fixed;
        top: 50%;

    }
    .diagram .inner {
        left: -218.5px;
        margin-top: -218.5px;
        transform: translateZ(20px);
    }
    .diagram .morph {
        left: -379px;
        margin-top: -379px;
        transform-style: preserve-3d;
        transform: perspective(500px);
    }
    .diagram .circle {
        left: -364.5px;
        margin-top: -364.5px;
        transform-style: preserve-3d;
        transform: perspective(500px);
    }
    .diagram .outer {
        left: -556px;
        margin-top: -556px;
        transform-style: preserve-3d;
        transform: perspective(1000px);
    }
    .diagram-mobile {
        display: none;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .container {
        position: relative;
        display: block;
        padding: 80px 122px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
    }
    .line {
        margin-top:103px;             
    }
}